body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

#game-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#word-chain, #submitted-left, #submitted-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.word-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    padding: 2px 10px;
    height: 40px;
    background-color: #f0f0f0;
    position: relative;
}

#answer-box input {
    width: 100px;
    text-align: center;
    font-size: 16px;
}

#submit-button-block {
    margin-top: 30px;
}

#submit-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#submit-button:hover {
    background-color: #45a049;
}

#submitted-left, #submitted-right {
    display: flex;
    flex-direction: row;
}

.remove-button {
    position: absolute;
    top: -12px; /* distance from the top */
    right: -12px; /* distance from the right */
    background-color: grey;
    color: black;
    border: none;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    width: 20px; /* width of the circle */
    height: 20px; /* height of the circle */
    border-radius: 50%;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-3px);
  }

  40% {
    transform: translateX(3px);
  }

  60% {
    transform: translateX(-3px);
  }

  80% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(0);
  }
}

#suggestion-block {
  margin-top: 20px;
  margin-bottom: 7px;
}

#distance-header {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #333;
}

#reveal-block button {
  background-color: blue;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}

#reveal-block button:hover {
  background-color: rgb(42, 42, 255);
}

/* Puzzle selector block styling */
#puzzle-selector-block {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#number-block {
  display: flex;
  align-items: center;
  gap: 10px; /* Added space between the buttons */
}

#number-block button {
  padding: 8px 10px;
  background-color: #3f51b5;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

#number-block button:disabled {
  background-color: #b0bec5;
  cursor: not-allowed;
}

#difficulty-block {
  display: flex;
  gap: 10px;
  margin: -10px;
}

#difficulty-block button {
  padding: 8px 15px;
  background-color: #607d8b;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

#difficulty-block button:disabled {
  background-color: #b0bec5;
  cursor: not-allowed;
}

#difficulty-block button:hover {
  background-color: #455a64;
}
